@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
  
.unordered_list{
    display: flex;
}
.linksOfNav{
    margin: 0 12px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
  }

  .hover-effect{
    position: relative;
  }
  .hover-effect:after{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
  }
  .hover_effect_black:after{
    background-color: rgb(63, 62, 62)
  }
  .link__hover-effect--white:after{
    background-color: white;
  }

  .hover-effect:hover:after{
    left: 0;
    width: 100%;
  }
  nav
  .scroll
  .header{
    opacity: 1;
    visibility: visible;
    transition: all 600ms 800ms;
  }

  .modal_opened nav,
  .modal_opened .scroll,
  .modal_opened .header{
    opacity: 1;
    visibility: hidden;
    transition: all 400ms;
  }

  /*
    DARK THEME
  */
  .darkMode .title,
  .darkMode .section_title,
  .darkMode .project_sub_title,
  .darkMode .nav_anchor,
  .darkMode .fa-adjust,
  .darkMode .header_para{
    color: white;
  }
  .darkMode section{
    background-color: #242424;
  }
  .darkMode #my_logo{
    filter: none;
  }
  .darkMode .scroll_icon:after,
  .darkMode .hover_effect_black:after
  {
    background-color: white;
  }
  .darkMode .purple{
    color: rgb(226, 24, 226);
  }
/*
  MODAL
*/
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal_opened .modal{
  box-shadow: 0 20px 80px 0 rgb(0,0,0,0.55);
  visibility: visible;
  z-index:  60;
}  

.modal_opened .left_part,
.modal_opened .right_part
{
  transform: translate(0%);
}

.modal_half{
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}
.left_part{
  background-color: rgb(245,245,245);
  transform: translateX(-110%);
}
.modal_title{
  font-size: 26px;
}
.modal_subtitle{
  margin: 12px 0 24px 0;
  font-size: 14px;
}
.modal_para{
  line-height: 1.55;
}
.modal_languages{
    display: flex;
    flex-wrap: wrap;
}
.modal_language:hover .language__name{
  transform: scale(1);
}
.modal_language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}
.language__name{
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}
.modal_language{
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}
.modal_language_img{
  width: 100%;
}

.right_part{
  position: relative;
  background-color: rgb(24,24,24);
  transform: translateX(110%);
}
.modal_right{
  color: white;
}
.modal_sub_right_part{
  color: white;
}
.form_item_label{
  color: white;
}
.form_item{
  margin-bottom: 24px;
}
.input{
  background-color: rgb(24,24,24);
  border: none;
  border-bottom: solid white;
  width: 100%;
  color: white;
  margin-top: 24px;
  outline: none;
}
input:hover, textarea:hover{
  border-color: purple;
}
input:focus, textarea:focus{
  border-color: purple;
}
.form_submit{
  background-color: purple;
  border: 2px solid purple;
  color: white;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
  
}
.form_submit:hover{
  border-color: #fff;
  background-color: transparent;
  
}
.form_submit:active{
  background-color: purple;
  color: purple;
}
textarea{
  resize: vertical;
  height: 100px;
}
.modal_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; 
  align-items: center;
  justify-content: center;
  z-index: -1;  
}
.modal_success_state{
  color: white;
  background-color: rgb(43, 156, 43);
  font-size: 40px;
  padding: 28px;
  text-align: center;
  font-weight: bold;
  
}
.modal_loading_state{
  background-color: rgb(24,24,24);
  font-size: 80px;
}
.fa-spinner{
  animation: spin 750ms infinite linear;
  color: white;
}
@keyframes spin{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.modal_overlay_visible{
  display: flex;
  z-index: 1;
}
.exit{
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

/*
    NAVIGATION
*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
  }
  #my_logo{
    width: 50px;
    height: 50px;
    filter: invert(1);
  }
  .fa-adjust{
    font-size: 20px;
  }
  .nav_anchor{
    font-size: 16px;;
    color: #242424;
    font-weight: 700;
  }

/*
    Landing Page
*/
#landing_page{
    min-height: 100vh;
}
.purple{
    color: purple;
}
  
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}
.title{
    font-size: 118px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}
.header_para{
    font-size: 24px;
    max-width: 400px;
    line-height: 2;
}
.about_me_lists{
    margin-top: 14px;
    display: flex;
}

.about_me_list{
    background-color: purple;
    color: white;
    padding: 8px;
    width: 32px;
    font-size: 14px;
    margin-right: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.clicked{
  cursor: pointer;
    transition: all 300ms ease;
}
.clicked:hover{
    transform: scale(1.3);
}
.clicked:active{
    transform: scale(0.8);
}
.mail_button{
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: purple;
    color: white;
    position: fixed;
    bottom: 32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0,0,0,0.28);
}
.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .scroll_icon {
    width: 20px;
    height: 30px;
    border: 2px solid purple;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scroll_icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
    
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(3px);
    }
    
    100% {
      transform: translateY(-3px);
    }
  }

  /*
    PROJECTS
  */
  .project{
    margin-bottom: 135px;
  }
  .container{
    padding: 50px 0;
    width: 100%;
    
  }
  .row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
  }
  .section_title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
  }
  .project_img{
    width: 100%;
    transition: all 600ms ease
  }
  .project_wrapper{
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
    overflow: hidden;
  }
  .project_wrapper:hover .project_description{
    opacity: 1;
    transform: translateY(-50%);
  }
  
  .project_wrapper:hover .project_img{
    transform: scale(1.07);
    filter:blur(5px);
  }
  .project_description{
    position: absolute;
    top: 50%;
    left: 90px;
    max-width: 550px;
    color:white;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
  }
  .project_wrapper:hover .project_wrapper_bg {
    opacity: 0.7; 
    visibility: visible;
  }
  .project_wrapper_bg{
    position: absolute;
    background-color: #1c1d25;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 450ms ease;
    visibility: hidden;
  }
  .project_title{
    font-size: 32px;
    margin-bottom: 6px;
  }
  .project_sub_title{
    font-size: 18px;
    margin-bottom: 8px;
  }
  .project_para{
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  .project_desc_link{
    color: white;
    font-size: 24px;
  }

  /*
    FOOTER
  */

  footer{
    position: relative;
    background-color: #242424;
    display: flex;
    padding: 7% 0;
  }
  .row_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_logo_img{
    width: 70px;
  }
  .footer_social_lists{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
  }
  
  .footer_copyright{
    color: white;
  }
  .footer_link{
    color:white;
  }
  .fotter_popup {
    position: absolute;
    right: 0;
    top: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
    color: white;
  }
  
  .footer_anchor {
    position: relative;
  }
  
  .footer_anchor:hover .fotter_popup {
    transform: translateX(60px);
    opacity: 1;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  /* 

  SHAPES

  shapes on the first row 
  height = 15vh
  
  shapes on the second row 
  height = 50vh
  
  shapes on the third row 
  height = 80vh

  shapes on the first column
  width = 5vw
  
  shapes on the second column
  width = 50vw

  shapes on the third column
  width = 80vw

*/
  .shape{
    position: fixed;
  }
  .shape_0{
    top: 15vh;
    left: 5vw;
  }
  .shape_1{
    top: 15vh;
    left: 50vw;
  }
  .shape_2{
    top: 15vh;
    left: 80vw;
  }
  .shape_3{
    top: 50vh;
    left: 5vw;
  }
  .shape_4{
    top: 50vh;
    left: 50vw;
  }
  .shape_5{
    top: 50vh;
    left: 80vw;
  }
  .shape_6{
    top: 80vh;
    left: 5vw;
  }
  .shape_7{
    top: 80vh;
    left: 50vw;
  }
  .shape_8{
    top: 80vh;
    left: 80vw;
  }


  
/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .header_para {
    font-size: 20px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal_half {
    width: 100%;
  }
}

/* Small phones */
@media (max-width: 480px) {
  
  .title {
    font-size: 52px;
  }
  .header_para {
    font-size: 18px;
  }
  .linksOfNav:first-child {
    display: none;
  }
  .project_para {
    display: none;
  }
  .project_description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  .project_sub_title {
    margin-bottom: 8px;
  }
  .modal_half {
    padding: 40px;
  }
}